@use '../variables/animation';
@use '../variables/colors';

@mixin opacity($min: 0.8, $max: 1) {
  opacity: $min;
  transition: opacity animation.$duration animation.$ease;

  &:hover {
    opacity: $max;
  }
}

@mixin shift($amount: 12px, $opacityMin: 0.8, $opacityMax: 1,$bar-color: colors.$white,  $inner: false) {
  $shift: $amount;
  position: relative;

  @if ($inner) {
    & > * {
      transform: translateX(0px);
      opacity: $opacityMin;
      transition: all animation.$duration animation.$ease;
      transition-property: opacity, transform;
    }

    &:hover > * {
      opacity: $opacityMax;
      transform: translateX($amount);
    }

    & > * {
      pointer-events: none;
    }
  } @else {
    transform: translateX(0px);
    opacity: $opacityMin;
    transition: all animation.$duration animation.$ease;
    transition-property: opacity, transform;

    &:hover {
      opacity: $opacityMax;
      transform: translateX($amount);
    }
  }

  &:after {
    z-index: -1;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: $amount;
    transform-origin: left;
    transform: scaleX(0);
    background-color: $bar-color;
    content: ' ';
    transition: transform animation.$duration animation.$ease;
  }

  &:hover:after {
    transform: scaleX(50%);
  }
}