@mixin mono($weight: 400) {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@mixin sans($weight:400) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

body {
  @include sans();
}