@use 'variables/colors' as colors;
@use 'variables/sizing' as sizing;
@use 'mixins/card' as card;
@use 'mixins/blur';
@use 'mixins/typography' as typography;
@use 'sass:color';
@use 'icons' as icons;

.code-snippet {
  @include card.card;
  @include blur.blur;
  padding: 0;
  $toolbar-color: color.scale(colors.$white, $lightness: -20%);
  $button-size: 24px;
  background-color: color.scale(colors.$white, $alpha: -80%);
  margin-top: card.$card-padding;
  margin-bottom: card.$card-padding;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > :first-child {
    display: flex;
    flex-direction: row;
    gap: card.$card-padding;
    align-items: center;
    padding: card.$card-padding;

    & > label {
      color: $toolbar-color;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > a {
      @include icons.toolbar-button($button-size);
      color: $toolbar-color;
      justify-self: end;
      margin: -0.25 * card.$card-padding;
    }
  }


  label, & > code {
    @include typography.mono(300);
  }

  & > code {
    background-color: color.scale(colors.$black-bg, $alpha: -20%);
    padding: card.$card-padding;
    overflow-x: scroll;
    text-wrap: nowrap;
  }
}

code {
  white-space: pre-wrap;
  --bs-code-color: initial;

  .hljs-class {


    .hljs-keyword {
      color: colors.$secondary;
    }

    .hljs-title {
      color: colors.$warning;
    }
  }

  .hljs-keyword {
    color: colors.$light;
  }

  .hljs-built_in {
    color: colors.$success;
  }

  .hljs-variable {
    color: colors.$info;
  }

  .hljs-type {
    color: color.scale(colors.$success, $lightness: 20%);
  }

  .hljs-comment {
    color: color.scale(colors.$warning, $alpha: -40%);
  }

  .hljs-string {
    color: color.scale(colors.$danger, $lightness: 30%);
  }

  .hljs-number {
    color: color.scale(colors.$danger, $lightness: 20%);
  }

  .hljs-literal {
    color: color.scale(colors.$success, $saturation: 5%);
  }

  .hljs-title {
    color: color.scale(colors.$compliment, $lightness: 20%);
  }

  .hljs-variable {
    color: color.scale(colors.$secondary, $lightness: 20%);
  }
}