@use 'variables/sizing';
@use 'sass:math';
@use 'mixins/shadow';
@use 'mixins/outline';

img[scaled] {
  max-width: 100%;
  border-radius: sizing.$radius-md;
  cursor: pointer;
}

gallery {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10% 0;

  & > img {
    flex-grow: 1;
    width: 0;
    min-width: 200px;
    @include shadow.shadow('md');
    z-index: var(--z-idx);
    transform: scale(1.05) translateY(var(--offset));
    @include outline.outline();

    &:first-child {
      transform-origin: left;
    }

    &:last-child {
      transform-origin: right;
    }
  }
}