@use 'variables/sizing';
@use 'sass:math';
@use 'mixins/shadow';

img[scaled] {
  max-width: 100%;
  border-radius: sizing.$radius-md;
}

gallery {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10% 0;

  & > img {
    flex-grow: 1;
    width: 0;
    min-width: 200px;
    @include shadow.shadow('md');

    &:first-child {
      transform-origin: left;
    }

    &:last-child {
      transform-origin: right;
    }
  }

  /**
  Needed a determinate random
   */
  @function pseudo-random($indexSum) {
    @return math.sin(math.tan($indexSum));
  }

  @function getOffset($max, $indexSum) {
    @if ($max == 0) {
      @return '0';
    }

    $randomnessCeiling: $max * .5;
    $range: pseudo-random($indexSum);
    $scale: math.cos(math.$pi * 2 * $range);

    @return #{$scale * $randomnessCeiling}#{'%'};
  }

  @function getZ($indexSum) {
    @return math.floor(pseudo-random($indexSum) * 100);
  }

  @for $i from 1 through 8 {
    & > img:nth-child(#{$i}) {
      z-index: getZ($i);
    }

    @for $j from 5 through 20 {
      $attrib: $j * 0.1;
      & > img:nth-child(#{$i})[aspect='#{$attrib}'] {
        $variability: ($j)*2.5;
        $salt: $i*15+$j;
        transform: scale(1.05) translateY(getOffset($variability, $salt));
        //--variability: #{$variability};
        //--rand: #{pseudo-random($salt)};
        //--salt: #{$salt};
      }
    }
  }
}