@use 'mixins/layout' as layout;
@use 'variables/sizing' as sizing;
@use 'variables/colors';
@use 'mixins/typography';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    max-width: sizing.$container-lg;

    @include layout.breakpoint(medium) {
      max-width: 100%;
    }
  }

  & > main {
    width: 100%;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > .container {
    flex-grow: 1;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.related {
  margin-top: 72px;
}

.date {
  @include typography.mono();
  color: colors.$dim;
  font-size: 0.9rem;
  margin-top: 0;
}

h1, h2, h3 {
  margin-bottom: 4px;
}