@use 'variables/colors';
@use 'variables/animation';
@use 'sass:color';

a.tag {
  text-decoration: none !important;
  color: colors.$white;
  border: 1px solid colors.$secondary;
  $pad: 4px;
  padding: $pad ($pad * 2);
  $height: 24px;
  font-size: $height * 0.5;
  height: $height;
  border-radius: $height * 0.5;
  background-color: color.scale(colors.$white, $alpha: -100%);
  transition: background-color animation.$duration animation.$ease;
  display: inline-flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin: 4px;

  & > .count {
    opacity: .6;
  }

  &:hover {
    background-color: color.scale(colors.$white, $alpha: -80%);
  }
}