@attribute [Post("Progress on the PowerMac G5 PC Build Resurrection", 2026, 4, 6)]
@attribute [Tags("gaming", "modding", "makes", "3d-printing", "vintage")]

<p>
    Sharing some progress on my redo of the PowerMac G5 build. Around a decade ago, I bought an old G5 from the
    university surplus store and very crudely transplanted an optiplex 7010 (or thereabouts) into it. It was lent out
    for years and then sat around collecting dust, but I've decided to revive the box as my new LAN box. The handles
    will be most conducive to transportation.
</p>
<p>
    The old version of it was literally held together with Erector/Mecanno pieces, zip ties, a very small amount of JB
    Weld, and a whole lot of hopes and dreams. I made cuts into the case with a dremel I borrowed and I trimmed the
    original heatsink with a hacksaw and a garden hose for cooling.
</p>
<p>
    My new take on this has a bunch of custom-made 3D parts for mounting and the guts of my old PC (Ryzen 5800X and a
    GTX1080). I'll be pairing this with a Trinitron monitor that I acquired recently for the upcoming IndySmashFest
    event this May.
</p>
<p>
    I'll update this post and the gallery below as I make progress. It's a really close fit in there!
</p>

<iframe loading="lazy" class="immich-gallery" src="https://photos.haley.casa/s/powermac-v2"></iframe>