@{
    ViewBag.Title = "No back-tagging";
}

<h1>Not found</h1>
<p>Sorry, doesn't look like there's anything with that tag just yet. Maybe you can ask ChatGPT to cook up some slop about that for you or
    something?</p>