<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <script type="application/javascript" crossorigin src="~/dist/main.es.js"
            asp-append-version="true" async></script>
    <script type="application/javascript" crossorigin src="~/dist/particles.es.js"
            asp-append-version="true" async></script>
    <link rel="stylesheet" crossorigin href="~/dist/theme.css" asp-append-version="true" media="print"
          onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
</head>
<body>
<canvas id="tsparticles" style="display:none;"></canvas>
<header>
    <nav>
        <span class="title">
            <span class="selector">
                <a href="#" class="selected">
                    <i data-lucide="chevrons-down"></i>
                    <span>blog</span>
                </a>
                <span class="options">
                    <a href="/">blog</a>
                    <a href="https://www.alexgriffith.me">www</a>
                    <a href="https://www.github.com/halomakes">git</a>
                    <a href="https://www.printables.com/@@halo_2764310">fdm</a>
                    <a href="https://www.youtube.com/halomademeapc">yt</a>
                </span>
            </span>
            <span class="dot">.</span>
            <span class="domain">halomak</span>
            <span class="dot">.</span>
            <span class="tld">es</span>
        </span>
        <span class="areas">
            <a asp-controller="Posts" asp-action="GetRecentPosts">recent</a>
            <a asp-controller="Tags" asp-action="GetTags">tags</a>
        </span>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer>
    <div class="container">
        Generated @DateTime.UtcNow <br/>
        this site is powered by sleep-deprived brain cells
    </div>
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
