@use 'sass/variables/colors' as colors;
@use 'sass/mixins/typography' as typography;
@use "sass:map";
@use 'sass:color';

@forward 'normalize.css/normalize.css';
@forward 'sass/codeSnippet';
@forward 'sass/mixins/typography';
@forward 'sass/layout';
@forward "sass/navbar";
@forward 'sass/selector';
@forward 'sass/footer';
@forward 'sass/tag';
@forward 'sass/post-item';
@forward 'sass/frames';
@forward 'sass/images';
@forward 'sass/filament-tracker';
@forward 'sass/header-link';

html {
  background: #201D38 linear-gradient(125deg, colors.$light 0%, colors.$tertiary 17%, colors.$dark 60%, colors.$dark-bg 100%);
  color: colors.$white;

  &:after, &:before {
    position: fixed;
    content: '';
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:after {
    background: transparent radial-gradient(circle farthest-corner at top right, color.scale(#2c1f7c, $alpha: -80%) 48%, color.scale(#110d30, $alpha: -15%) 100%);
  }

  &:before {
    background: url('/perlin.png') repeat;
    opacity: .3;
  }
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

canvas#tsparticles {
  opacity: 0.2;
  background-color: #201D38 !important;;

  &:not([data-generated]) {
    display: none;
  }
}