@use 'sass/variables/colors' as colors;
@use 'sass/mixins/typography' as typography;
@use "sass:map";

@forward 'normalize.css/normalize.css';
@forward 'sass/codeSnippet';
@forward 'sass/mixins/typography';
@forward 'sass/layout';
@forward "sass/navbar";
@forward 'sass/selector';
@forward 'sass/footer';
@forward 'sass/tag';
@forward 'sass/post-item';
@forward 'sass/frames';

html {
  background: #201D38 linear-gradient(125deg, colors.$light 0%, colors.$tertiary 17%, colors.$dark 60%, colors.$dark-bg 100%);
  color: colors.$white;
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

canvas#tsparticles {
  mix-blend-mode: lighten;
  opacity: 0.3;
  background-color: #201D38 !important;;

  &:not([data-generated]) {
    display: none;
  }
}